

body{
	background-color: #fff;
	font-size: 2vw;
	height: 100%;
}
.container{
	padding: 3% 0%;
}
.img-home{
	padding: 0% 1%;
}
.row {
	margin: 0 !important;
	height: 100%;
}
/* header .menu{
	text-align: center;
} */

h1 {
	font-size: 3vw;
}

h2 {
	font-size: 2.5vw;
	color: #fff;
	text-align: center;
}

.tag {
	background-color: rgb(3, 15, 67);
}

.img-logo{
	max-width: 13%;
	margin-left: 1%;
}
.img-logo-sns img{
	max-width: 20%;
	margin: 3%;
	
}
.img-logo-sns img:hover{
	-webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.content{
	background-color: #fff;
	padding: 40px;
}

.nav-item a{
	font-size: 1.5vw;
}

.menu ul{
	/* margin: 20px ; */
	padding: 0.5%;
	background-color: rgb(3, 15, 67);
	}
.menu li{
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 90px;
	}

.menu li:not(:last-child){
	border-right:2px solid #ddd;
	}
.menu a{
	text-decoration: none;
	color: #fff;
	}
.menu a.current{
	color: #00B0F0;
	border-bottom:2px solid #00B0F0;
	}
.menu a:hover{
	color:#F7CB4D;
	border-bottom:2px solid #F7CB4D;
	}

.main{
	text-align: center;
	height: 100%;
}


	#sns {
	  padding: 3% 0%;
	  height: 100%;
	}
	#insta {
	  padding: 0% 3%;
	  height: 75vh;
	}
	#twitter {
	  padding: 0% 3%;
	  height: 75vh;
	}


#insta a img:hover{
	-webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

#twitter a img:hover{
	-webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

#pageTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#pageTop i {
	padding-top: 6px
}
  
#pageTop a {
	display: block;
	z-index: 999;
	border-radius: 30px;
	width: 35px;
	height: 35px;
	background-color: #9fd6d281;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
  
   
  
#pageTop a:hover {
	text-decoration: none;
	opacity: 0.7;
}


footer{
	text-align: center;
	font-size: 80%;
	padding: 0%;
}

/*team css*/

.message{
	position: relative;
	padding: 1.5rem 2rem;
	border: 3px solid #d8d8d8;
	border-radius: 10px;
	background: #f9f9f9;
	margin: 5% 15%;
  }
  
.message:before {
	position: absolute;
	bottom: -14px;
	left: 1em;
	width: 0;
	height: 0;
	content: '';
	border-width: 14px 12px 0 12px;
	border-style: solid;
	border-color: #d8d8d8 transparent transparent transparent;
  }
  
.message:after {
	position: absolute;
	bottom: -10px;
	left: 1em;
	width: 0;
	height: 0;
	content: '';
	border-width: 14px 12px 0 12px;
	border-style: solid;
	border-color: #f9f9f9 transparent transparent transparent;
  }

.img-team {
	padding: 0% 1%;
	width: 75%;
}

/*game css*/
.carousel-item img{
		border: solid #b8bdb8;
		margin: 1% 0%;
}

/*member*/
.align-bottom td:nth-child(1){
	width: 35%;
	padding: 0% 2% 2% 2%;
}
.align-bottom td:nth-child(2){
	width: 15%;
	padding: 1% 1% 2% 0%;
}
.align-bottom th{
	width: 17%;
}
.align-bottom td:nth-child(3){
	width: 33%;
}

/*q&a*/
#qa{
	
	padding: 5px 100px;
}
.qa_elm{
	background-color: rgb(190, 188, 188);
}
.qa_elm p{
	padding: 10px 30px;
}
/*schedule*/
.fc-scrollgrid-sync-inner a {
    color: black;
    text-decoration: none;
}
#calendar {
    width: 98%;
    margin: 0 auto;
}
.fc-toolbar-chunk h2{
	color: black;
}

/* attention */
.container p{
	padding: 0% 3%;
}
.container ol{
	padding: 0% 5% ;
}